# Database
DATABASE_URL=postgresql://postgres:devpass123@localhost:5432/stock_db

# JWT
JWT_SECRET=replace_with_long_secret_key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

# APIs
NEWS_API_KEY=
GROQ_API_KEY=

# ML
MODEL_PATH=./models/gru_v1.0.h5

# Environment
ENVIRONMENT=development
DEBUG=True
